@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Edu+SA+Beginner:wght@400;500;600;700&family=Freehand&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Kanit:wght@700&family=Lumanosimo&family=Nunito&family=Playpen+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bunch {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  font-family: 'Playpen Sans', cursive;
}
.input-form {
  display: flex;
  flex-direction: column;
  width: 16rem;
}
.bunch input {
  height: 2rem;
}
.bunch p {
  color: rgb(255, 0, 0);
  font-size: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.4px 2.2px 4.5px rgba(0, 0, 0, 0.23),
    1.3px 7.4px 15px rgba(0, 0, 0, 0.34), 6px 33px 67px rgba(0, 0, 0, 0.57);
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 24rem;
}
.heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 10rem;
  height: 2rem;
  background-color: rgb(0, 157, 255);
  color: white;
  border-radius: 1rem;
  border: none;
}
